._wa93{
	width: 93%;
}
._w0{
	width: 0rem
}
._w35{
	width: 0.35rem
}
._w55{
	width: 0.55rem
}
._w56{
	width: 0.56rem
}
._w65{
	width: 0.65rem
}
._w80{
	width: 0.8rem
}
._w90{
	width: 0.9rem
}
._w105{
	width: 1.05rem;
}
._w120{
	width: 1.2rem;
}
._w130{
	width: 1.3rem;
}
._w140{
	width: 1.3rem;
}
._w145{
	width: 1.45rem;
}
._w160{
	width: 1.6rem;
}
._w180{
	width: 1.8rem;
}
._w190{
	width: 1.9rem;
}
._w225{
	width: 2.25rem;
}
._w238{
	width: 2.38rem;

}
._w268{
	width: 2.68rem;
}
._w300{
	width: 3rem;
}
._w480{
	width: 4.8rem;
}
._w497{
	width: 4.96rem;
}
._w508{
	width: 5.08rem;
}
._w500{
	width: 5rem;
}
._w532{
	width: 5.32rem;
}
._w548{
	width: 5.48rem;
}
._w580{
	width: 5.8rem;
}
._w630{
	width: 6.3rem;
}
._w950{
	width: 9.5rem;
}
._w1092{
	width: 10.92rem;
}
._w1150{
	width: 11.5rem;
}
._w1200{
	width: 12rem;
}

._ha93{
	height: 93%;
}
._h460-75{
	height: calc(4.6rem - 0.75rem);
}
._h35{
	height: 0.35rem;
}
._h38{
	height: 0.38rem;
}

._h58{
	height: 0.58rem;
}
._h60{
	height: 0.6rem;
}
._h65{
	height: 0.65rem;
}
._h72{
	height: 0.72rem;
}
._h75{
	height: 0.75rem;
}
._h76{
	height: 0.76rem;
}
._h80{
	height: 0.8rem;
}
._h90{
	height: 0.9rem;
}
._h105{
	height: 1.05rem;
}
._h135{
	height: 1.35rem;
}
._h160{
	height: 1.6rem;
}
._h170{
	height: 1.7rem;
}
._h250{
	height: 2.5rem;
}
._h365{
	height: 3.65rem;
}
._h386{
	height: 3.86rem;
}
._h460{
	height: 4.6rem
}
._h480{
	height: 4.8rem
}
._h500{
	height: 5rem
}
._h580{
	height: 5.8rem
}
._h590{
	height: 5.9rem
}
._h640{
	height: 6.4rem;
}
._h626{
	height: 6.26rem;
}
._h645{
	height: 6.45rem;
}
._h680{
	height: 6.8rem;
}
._h690{
	height: 6.9rem;
}
._h700{
	height: 7rem;
}
._p4{
	padding: 0.04rem;
}
._p80{
	padding: 0.8rem;
}
._pt5{
	padding-top: 0.05rem;
}
._pt15{
	padding-top: 0.15rem;
}
._pt18{
	padding-top: 0.18rem;
}
._pt90{
	padding-top: 0.9rem;
}
._pb12{
	padding-bottom: 0.12rem;
}
._pb15{
	padding-bottom: 0.15rem;
}
._pb18{
	padding-bottom: 0.18rem;
}
._pb20{
	padding-bottom: 0.2rem;
}
._pl20{
	padding-left: 0.2rem;
}
._pl30{
	padding-left: 0.3rem;
}
._pr20{
	padding-right: 0.2rem;
}
._pr30{
	padding-right: 0.3rem;
}
._mt7{
	margin-top: 0.07rem;
}
._mt20{
	margin-top: 0.2rem;
}
._mt30{
	margin-top: 0.3rem;
}
._mt120{
	margin-top: 1.2rem;
}
._mb6{
	margin-bottom: 0.06rem;
}
._mb10{
	margin-bottom: 0.1rem;
}

._oya{
	overflow-y: auto;
}
._lh30{
	line-height: 0.3rem;
}
._lh50{
	line-height: 0.5rem;
}
._c8d3c00{
	color: #8d3c00;
}
._cbe631f{
	color: #be631f;
}
._c1775a9{
	color: #1775a9;
}
._cff27b0{
	color: #ff27b0;
}
._c4c8e05{
	color: #4c8e05;
}
._c0b5136{
	color: #0b5136;
}
._c8e5605{
	color: #8e5605;
}
._ca8509f{
	color: #a8509f;
}
._c1775a9{
	color: #1775a9;
}
._c888882{
	color: #888882;
}
._bgffffe6{
	background-color: #ffffe6;
}
._bgffd14c{
	background-color: #ffd14c;
}
._bgff9b05{
	background-color: #ff9b05;
}
._bgffde2b{
	background-color: #ffde2b;
}

._rgba1{
	background-color: rgba(0,0,0,0.8);
}

.bge_1{
	background: url(../../img/exercises/e_1.png) no-repeat center/100% 100%;
}
._bg_2{
	background: url(../../img/activity/acbg1.png) no-repeat center/100% 100%;
}
/* 黄色按钮 排行榜*/
._bg_3{
	background: url(../../img/activity/btnbg.png) no-repeat center/100% 100%;
}
/* 绿色按钮 参加活动 */
._bg_4{
	background: url(../../img/activity/btnbg2.png) no-repeat center/100% 100%;
}
._bg_5{
	background: url(../../img/activity/acbg2.png) no-repeat center/100% 100%;
}
._bg_6{
	background: url(../../img/activity/actc1.png) no-repeat center/100% 100%;
}
._bg_7{
	background: url(../../img/activity/btnbg3.png) no-repeat center/100% 100%;
}
/* 刷新按钮 */
._bg_8{  
	background: url(../../img/exercises/e_2.png) no-repeat center/100% 100%;
}
._bg_9{  
	background: #ffde2b url(../../img/activity/guang.png) no-repeat center/100% 100%;
}


._tp-75{
	top:-0.75rem;
}
._tp7{
	top:0.07rem;
}
._tp18{
	top:0.18rem;
}
._tp50{
	top:0.5rem;
}
._tp57{
	top:0.57rem;
}
._lt-20{
	left: -0.2rem;
}
._lt-60{
	left: -0.6rem;
}
._lt8{
	left:0.08rem;
}
._lt18{
	left:0.18rem;
}
._lt25{
	left:0.25rem;
}
._lt50{
	left:0.5rem;
}
._lt57{
	left:0.57rem;
}


._rt-20{
	right: -0.2rem;
}
._rt-60{
	right: -0.6rem;
}
._rt-100{
	right: -1rem;
}
._rt7{
	right:0.07rem;
}
._bt15{
	bottom: 0.15rem;
}

.bor1{
	border: 0.02rem solid #ffd14c;
}
._bor2{
	border: 0.02rem solid #8d3c00;
}

._borb1{
	border-bottom: 0.02rem solid #ffd14c;
}



.brBox2{
	border-top-right-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}
._br01{
	border-radius: 1.6rem 0.77rem  0.77rem 1.6rem;
}
._br02{
	border-radius: 0.77rem 1.6rem 1.6rem 0.77rem;
}

._br20{
	border-radius: 0.2rem;
}
._br100{
	border-radius: 1rem;
}
._br140{
	border-radius: 1.4rem;
}
._br165{
	border-radius: 1.65rem;
}

._bs1{
	box-shadow: 0px 0.05rem 0px #8d3c00;
}



.right:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../../img/publicImg/right.png) no-repeat center/100% 100%;
}
.wrong:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../../img/publicImg/wrong.png) no-repeat center/100% 100%;
}
.imgBox.active:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0.03rem solid red;
}
